*border:False
*depth:32
*font:Gohu Gohufont:pixelsize=14
*facesize:14
*highlightColor:Black
*highlightTextColor:White
*background:#FEF9EC
*foreground:#3D424E
*cursorColor:#007693
! BLACK
*color0:#252114
*color8:#313848
! RED
*color1:#E75C58
*color9:#B22B31
! GREEN
*color2:#00A250
*color10:#007427
! YELLOW
*color3:#A08A00
*color11:#715F00
! BLUE
*color4:#208FFB
*color12:#0065CA
! MAGENTA
*color5:#D160C4
*color13:#A03196
! CYAN
*color6:#00A4C1
*color14:#007693
! GRAY
*color7:#515662
*color15:#4f5563

! Xft settings
Xft.lcdfilter: lcddefault
Xft.antialias: false
Xft.autohint: 0
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.rgba: rgb
Xft.dpi: 96
